.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 100px;
  background-image: url("../img/video-watercolor@1x.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-watercolor@2x.png");
  }
}


.about__wrapper {
  @include desktop-container;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  margin-bottom: 25px;
}

.about__text {

  margin: 0;
  margin-bottom: 50px;
  width: 54%;

  text-align: center;

  font-size: 17px;
  line-height: 1.71;
}

.about__video {
  position: relative;

  width: 870px;
  height: 460px;
  background-image: url("../img/video-photo_masked@1x.png");
  background-size: contain;


  cursor: default;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-photo_masked@2x.png");
  }
}

.about__play-button {

  position: absolute;
  top: calc(50% - 53px);
  left: calc(50% - 48px);
  width: 96px;
  height: 96px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 50%;
  cursor: pointer;

  &::before {
    content: "";

    display: block;
    position: absolute;

    top: calc(50% - 32px);
    left: calc(50% - 32px);

    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #ffffff;
  }

  &::after {
    content: "";

    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 5px);
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #1fc0fc;
    border-bottom: 10px solid transparent;
  }

  &:hover {
    &::after {
      border-left-color: #63d3fd;
    }

    &::before {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    }
  }

  &:active {

    outline: none;

    &::after {
      border-left: 15px solid #1fc0fc;
    }

    &::before {
      background: #f4f4f4;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    }
  }

  &:focus {
    outline: none;

    &::after {
      border-left: 15px solid #1fc0fc;
    }

    &::before {
      background: #f4f4f4;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    }
  }
}


@supports (-webkit-mask-repeat-y: unset) {
  .about__video {
    mask-image: url("../img/mask-video@1x.png");
    mask-size: 100% auto;
    position: relative;

    width: 870px;
    height: 460px;
    background-image: url("../img/photo_about@1x.jpg");
    background-size: contain;
    background-color: #d79d44;


    cursor: default;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/photo_about@2x.jpg");
      mask-image: url("../img/mask-video@2x.png");
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .about__video {
    width: 600px;
    background-size: cover;
  }

  @supports (-webkit-mask-repeat-y: unset) {
    .about__video {
      mask-size: 100% 100%;
    }
  }

  .about__wrapper {
    @include tablet-container;
  }

  .about__title {
    margin-bottom: 15px;
  }

  .about__text {
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
  }
}

@media (max-width: $mobile-maxWidth) {
  .about {
    background-position: 54% 58%;
    background-size: 140% auto;
    padding-bottom: 49px;
    padding-top: 27px;
  }

  .about__wrapper {
    @include mobile-container;
  }

  .about__title {
    margin-bottom: 24px;
  }


  .about__video {
    width: 100%;
    mask-position: 80%;
    height: 220px;
    mask-size: 150% 100%;

    background-size: 175%;
    background-position: 69%;
    background-repeat: no-repeat;
  }

  .about__text {
    width: 100%;
    text-align: left;
    font-size: 16px;
    line-height: 1.66;
    padding: 0;
  }

  .about__play-button {
    width: 80px;
    height: 80px;
    top: calc(50% - 32px);
    left: calc(50% - 40px);

    &::before {
      top: calc(50% - 26px);
      left: calc(50% - 26px);
      width: 53px;
      height: 53px;
    }

    &::after {
      border-top: 8px solid transparent;
      border-left: 13px solid rgba(31, 192, 252, 1);
      border-bottom: 8px solid transparent;
      top: calc(50% - 9px);
      left: calc(50% - 3px);
    }
  }
}

@media (min-width: 1806px) {
  .about {
    background-size: 1806px auto;
  }
}
