.comments__image {
  width: 30.5%;
  flex-shrink: 0;
  margin-right: 46px;
}

.comments__image img {
  mask-image: url("../img/mask-comments@1x.png");
  mask-size: 102% auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    mask-image: url("../img/mask-comments@2x.png");
  }
}

.comments__wrapper {
  @include desktop-container;
  padding: 0 102px;
}

.comments__title {
  text-align: center;
  margin-bottom: 8px;
}

.comments {
  padding-top: 127px;
}


.comments__slide {
  display: flex;
}

.comments__name {

  opacity: 0.74;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 9px;
}

.comments__program {
  font-size: 15px;
  line-height: 1.4;

  color: #1fc0fc;
  display: block;
  margin-right: 9px;
}

.comments__program-name {
  font-size: 15px;
  line-height: 1.4;

  opacity: 0.74;
}

.comments__details {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 14px;
}

.comments__text {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  opacity: 0.74;
  font-size: 17px;
  line-height: 1.7;
}

.comments__text-content {
  width: 88.51%;
  opacity: 0.74;
  font-size: 17px;
  line-height: 1.75;

  &:last-of-type {
    margin: 0;
  }
}

.comments__more {
  margin-bottom: 51px;
  margin-top: 16px;
  color: #1fc0fc;
  font-size: 17px;
  font-language-override: 1.5;
  text-decoration: underline;
}


.comments__socials {
  @include list-reset;
  margin-right: 80px;
  display: flex;
  align-self: flex-end;
}

.comments__social-item:not(:last-of-type) {
  margin-right: 10px;
}

.comments__socials svg {
  fill: #d6d6d6;
}

.comments__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  &:hover svg {
    fill: #747373;
  }

  &:active svg {
    fill: #ffd701;
  }
}

.comments__pagination {
  bottom: 1px;
  left: 35%;
  width: unset;

  font-size: 17px;
  line-height: 1.5;
  color: #484848;
  opacity: 0.5;
}

.comments__button {
  cursor: pointer;
  padding: 0;


  position: absolute;
  left: 39.7%;
  bottom: 2%;


  width: 11px;
  height: 11px;


  transform: rotate(-45deg);
  background-color: transparent;

  border-top: 2px solid #dadada;
  border-left: 2px solid #dadada;

  &:hover {
    border-color: #747373;
  }

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
    border-color: #ffd701;
  }
}

.comments__button--next {
  left: 41.5%;
  transform: rotate(135deg);
}

.comments__slider {
  position: relative;
}

@media (min-width: $tablet-width) and (max-width: 1365px) {
  .comments__wrapper {
    @include tablet-container;
  }

  .comments__text-content {
    font-size: 14px;
    width: 100%;
  }

  .comments__text {
    padding-top: 10px;
  }

  .comments__name {
    font-size: 20px;
  }

  .comments__program {
    font-size: 13px;
  }

  .comments__program-name {
    font-size: 13px;
  }

  .comments__details {
    margin: 0;
  }

  .comments__button {
    left: 43.7%;
    bottom: 18.7%;
  }

  .comments__button--next {
    left: 45.7%;
  }

  .comments__more {
    margin-bottom: 0;
  }

  .comments__socials {
    margin-top: -10px;
    margin-right: 0;
  }

  .comments__slider {
    padding-bottom: 40px;
  }

  .comments__pagination {
    bottom: 75px;
    left: 37%;
  }
}

@media (max-width: $mobile-maxWidth) {
  .comments__wrapper {
    @include mobile-container;
  }

  .comments__slide {
    flex-direction: column;
  }

  .comments__image {
    width: 100%;
  }

  .comments__program {
    font-size: 14px;
    line-height: 1.6;
  }

  .comments__details {
    flex-direction: column;
    align-items: flex-start;
  }

  .comments__program-name {
    font-size: 14px;
    line-height: 1.6;
  }

  .comments__text-content {
    font-size: 16px;
    height: 1.6;
  }

  .comments__more {
    font-size: 16px;
  }
}

@media (max-width: $mobile-maxWidth) {
  .comments {
    padding-top: 73px;
    padding-bottom: 50px;
  }

  .comments__image {
    width: 80%;
    margin: 0 auto;
    margin-top: 18px;
  }

  .comments__text {
    padding-top: 61px;
  }

  .comments__text-content {
    font-size: 16px;
    line-height: 1.6;
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 26px;
    }
  }

  .comments__more {
    margin-top: 27px;
    margin-bottom: 17px;
  }

  .comments__details {
    margin-bottom: 9px;
  }

  .comments__socials {
    align-self: flex-start;
    padding-left: 4px;
    margin: 0;
  }

  .comments__social-link {
    width: unset;
  }

  .comments__social-item:not(:last-of-type) {
    margin-right: 21px;
  }

  .comments__social-item--insta svg {
    width: 23px;
    height: 23px;
  }

  .comments__pagination {
    bottom: unset;
    top: 108vw;
  }

  .comments__button {
    top: 110vw;
    bottom: unset;
    left: 54.7%;
  }

  .comments__button--next {
    left: 62.7%;
  }
}

