.details__wrapper {
  @include desktop-container;
  padding: 0;
  padding-left: 110px;
}

.details__info-photo {
  margin-right: 25px;
}

.details {
  position: relative;
  padding-top: 32px;
  padding-bottom: 60px;

  &::after {
    content: "";
    display: block;
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/contacts-watercolor@1x.png");
    background-size: 100% auto;
    background-position: 100% 72%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/contacts-watercolor@2x.png");
    }
  }
}

.details__map {
  width: 51.4vw;
  max-width: 702px;
}

.details__curator-photo {
  width: 112px;
  border-radius: 50%;
}

.details__location span {
  font-size: 15px;
  line-height: 1.5;
  opacity: 0.74;
  margin-left: -9px;
}

.details__location {
  display: flex;
  margin-bottom: 28px;
}

.details__location b {
  margin-left: 16px;
  margin-bottom: 8px;

  font-variant: small-caps;
  text-transform: lowercase;
  opacity: 0.74;
  font-size: 15px;
  line-height: 1.5;
  border-bottom: 1px dashed #1fc0fc;
  cursor: pointer;
}

.details__curator-name {
  font-size: 15px;
  line-height: 1.5;
  opacity: 0.74;
  margin: 0;
  padding-top: 2px;
}

.details__curator-name span {
  margin-right: 4px;
  color: #1fc0fc;
  opacity: 1;
}

.details__curator-address {
  width: 218px;

  font-size: 13px;
  line-height: 1.5;
  opacity: 0.74;
}

.details__socials-item:not(:last-of-type) {
  margin-right: 20px;
}

.details__socials-item {
  & svg {
    fill: #d6d5d5;
  }
}

.details__socials-link {
  &:hover svg {
    fill: #747373;
  }

  &:active svg {
    fill: #ffd701;
  }

  &:focus {
    outline: none;

    & svg {
      fill: #ffd701;
    }
  }
}

.details__socials {
  @include list-reset;
  display: flex;
  padding-left: 2px;
  align-items: flex-end;
}

.details__map-wrapper {
  position: relative;
  margin-top: -76px;
  user-select: none;
}

.details__notion p {
  width: 87%;

  font-size: 17px;
  line-height: 1.7;
  opacity: 0.87;
}

.details__form-text b {
  font-size: 17px;
  line-height: 1.5;
  opacity: 0.6;
}

.details__form-notion {
  font-size: 13px;
  line-height: 1.5;
  opacity: 0.5;
}

.details__info {
  display: flex;
  margin-bottom: 33px;
}

.details__contacts {
  display: flex;
  margin-bottom: 63px;
  z-index: 5;
  position: relative;
}

.details__title {
  margin-bottom: 33px;
  width: fit-content;
  z-index: 99;
  position: relative;
}

.details__location-icon {
  width: 42px;
  margin-top: -5px;
  margin-left: -10px;
  height: 38px;
  fill: #d1d1d0;
}

.details__location-icon--map {
  position: absolute;
  width: 47px;
  top: 51%;
  left: 73.2%;
  height: 50px;
  fill: #31c3fc;
}

.details__location::after {
  content: "";
  display: block;
  margin-left: 10px;
  margin-top: 5px;
  width: 23px;
  height: 26px;
  background-image: url("../img/icon-arrow.svg");
  transform: rotate(46deg);
}

.details__form {
  display: flex;
  align-items: flex-start;
  width: 61%;
}

.details__form-text {
  width: 28%;
  padding-top: 5px;
  margin-right: 25px;
}

.details__form .form__input-wrapper {
  width: 46%;
}

.details__form .form__input-wrapper:not(:last-of-type) {
  margin-right: 19px;
}

.details__form input {
  width: 100%;
}


.details__form-group {
  display: flex;
  width: 91%;
}

.details__form-wrapper {
  display: flex;
}


.details__form-button {
  max-width: unset;
  min-width: 215px;
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .details__wrapper {
    @include tablet-container;
  }

  .details__contacts {
    flex-direction: column;
  }

  .details__notion p {
    font-size: 15px;
  }

  .details__curator {
    margin-bottom: 70px;
  }

  .details__map {
    width: 100%;
  }

  .details__form {
    flex-direction: column;
    padding-bottom: 50px;
    width: 100%;
  }

  .details__form-text {
    width: 100%;
  }

  .details__form-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .form__input-wrapper {
    flex-grow: 1;
  }

  .details__form .form__input-wrapper {
    margin: 0;
  }

  .form__input-wrapper:not(:last-of-type) {
    margin: 0;
    margin-right: 25px;
  }

  .details__form-group {
    width: 100%;
    margin-bottom: 15px;
  }

  .details__form-button {
    width: 100%;
    max-width: unset;
  }
}

@media (max-width: $mobile-maxWidth) {
  .details {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 65px;

    &::after {
      display: none;
    }
  }


  .details__wrapper {
    padding: 0;
  }

  .details__curator {
    @include mobile-container;
  }

  .details__title {
    margin-bottom: 9px;
  }

  .details__contacts {
    flex-direction: column;
    margin-bottom: 24px;
  }


  .details__form-wrapper {
    @include mobile-container;
    display: flex;
    flex-direction: column;
  }

  .details__form {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .details__info-photo {
    margin-bottom: 15px;
  }

  .details__info {
    flex-direction: column;
    align-items: flex-start;
  }

  .details__info-text {
    text-align: left;
  }

  .details__location {
    margin-bottom: 28px;
  }

  .details__curator-address {
    width: 100%;
    margin-bottom: 15px;
  }

  .details__location-icon--map {
    width: 49px;
    top: 51%;
    left: 82.2%;
    height: 62px;
  }

  .details__socials {
    align-items: flex-end;
  }

  .details__socials-link {
    display: block;
    width: 14px;
  }

  .details__notion {
    margin-bottom: 28px;
  }

  .details__notion p {
    text-align: left;
    width: 100%;
    font-size: 16px;
    line-height: 1.65;
  }

  .details__map-wrapper {
    margin: 0;
    width: 100%;
    height: 425px;
    position: relative;
    overflow: hidden;
  }

  .details__map {
    width: 100%;
    height: 100%;

    object-fit: cover;
    position: absolute;
    top: 0;
    left: -48%;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;

    transform: translate(48%, 0%);
  }

  .details__form-text {
    width: 100%;
    text-align: left;
    margin-bottom: 21px;
  }

  .details__form-text b {
    font-size: 16px;
    font-weight: 500;
  }

  .details__form-group {
    flex-direction: column;
    width: 100%;
    margin-bottom: 21px;
  }

  .details__form .form__input-wrapper {
    width: 100%;
  }

  .details__form-button {
    width: 93%;
  }
}

@media (min-width: 1481px) {
  .details::after {
    background-size: 100% 890px;
  }
}
