.expectations {
  position: relative;
  background-image: url("../img/expectations-watercolor@1x.jpg");
  background-position: 0 102%;
  background-size: cover;
  padding-bottom: 300px;
  z-index: -2;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/expectations-watercolor@2x.jpg");
  }

  &::after {
    content: "";
    display: block;
    width: 214px;
    height: 232px;
    position: absolute;
    background-image: url("../img/stamp@1x.png");
    background-size: 100% auto;
    top: 26%;
    right: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/stamp@2x.png");
    }
  }
}

.expectations__wrapper {
  @include desktop-container;
  padding: 0;
}

.expectations__inner {
  display: flex;
}

.expectations__content {
  width: 48.9%;
  padding-right: 131px;
  padding-top: 98px;
  margin-left: 91px;
}

.expectations__image {
  padding-left: 10px;
  width: 42.5%;
  margin-left: 11px;
  margin-top: 67px;
  height: 52vw;

  background-size: 100% auto;
  background-image: url("../img/expectations-photo_masked@1x.png");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {

    background-image: url("../img/expectations-photo_masked@2x.png");
  }
}

@supports (-webkit-mask-repeat-y: unset) {
  .expectations__image {
    padding-left: 10px;
    width: 42.5%;
    margin-left: 11px;
    margin-top: 67px;
    height: 52vw;
    mask-image: url("../img/mask-about@1x.png");
    mask-size: 100% auto;
    background-size: 100% auto;
    background-image: url("../img/expectations-photo@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      mask-image: url("../img/mask-about@2x.png");
      background-image: url("../img/expectations-photo@2x.jpg");
    }
  }
}

.expectations__text {
  font-size: 15px;
  line-height: 1.75;
  margin-bottom: 32px;
  padding-left: 15px;
}

.expectations__title {
  margin-bottom: 25px;
  padding-left: 16px;
}

.expectations__list-heading {
  display: block;
  padding-left: 15px;
  margin-bottom: 25px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7;
}

.expectations__item {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 1.35;
  color: rgba(72, 72, 72, 0.87);
  z-index: 3;
}

.expectations__item:not(:last-of-type) {
  padding-bottom: 40px;
}

.expectations__list {
  @include list-reset;
  position: relative;
  counter-reset: item;
  margin-bottom: 50px;
  z-index: 3;

  &::before {
    content: "";
    z-index: -1;
    display: block;
    height: calc(100% - 3px);
    border-right: 1px dashed rgba(72, 72, 72, 0.5);
    position: absolute;
    left: 18px;
  }
}

.expectations__item::before {
  z-index: 3;
  counter-increment: item;
  content: counter(item);
  display: flex;
  margin-right: 25px;
  border-radius: 50%;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.7;
  color: #ffc341;
}

.expectations__notion {
  position: relative;
  margin-left: 30px;
  font-size: 15px;
  line-height: 1.4;
  color: rgba(72, 72, 72, 0.5);

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 4px;
    left: -15px;
    background: linear-gradient(138.15deg, #ffc341 20.46%, #ffd701 65.31%);
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .expectations__image {
    display: none;
  }

  .expectations {
    padding-top: 0;
    padding-bottom: 190px;
    background-image: none;
  }

  .expectations__wrapper {
    @include tablet-container;
  }

  .expectations__item:first-of-type {
    margin-left: -10px;
    margin-right: 10px;
  }

  .expectations__content {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .expectations__list {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }

  .expectations__inner {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: $mobile-maxWidth) {
  .expectations {
    background-image: none;
    padding-top: 48px;
    padding-bottom: 144px;

    &::after {
      background-image: url("/img/stamp_mobile@1x.png");
      top: 29.3%;
      height: 202px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("/img/stamp_mobile@2x.png");
      }
    }
  }

  .expectations__image {
    display: none;
  }

  .expectations__inner {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .expectations__wrapper {
    @include mobile-container;
    background: none;
  }

  .expectations__title {
    padding: 0;
    text-align: center;
  }

  .expectations__text {
    line-height: 1.6;
    padding: 0;
    margin-bottom: 24px;
    font-size: 14px;
  }

  .expectations__list-heading {
    padding: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 16px;

    line-height: 1.66;
  }

  .expectations__content {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .expectations__list {
    margin-left: -7px;
    margin-bottom: 15px;

    &::before {
      top: 60px;
      height: calc(100% - 96px);
    }
  }

  .expectations__notion {
    font-size: 14px;
    line-height: 1.5;
    margin-left: 0;
    padding-left: 8px;

    &::before {
      left: -5px;
    }
  }

  .expectations__item {
    font-size: 14px;
    line-height: 1.6;
    min-height: 90px;

    &::before {
      margin-right: 15px;
    }

    &:not(:last-of-type) {
      padding: 0;
    }
  }
}

@media (min-width: 1380px) {
  .expectations {
    background-size: 100% 1215px;
  }
}
