.features__wrapper {
  @include desktop-container;
  padding-left: 104px;
}

.features {
  padding-top: 156px;
}

.features__title {
  text-align: center;
  margin-bottom: 25px;
}

.features__text {
  padding: 0 210px;
  text-align: center;
  font-size: 17px;
  line-height: 1.7;
  opacity: 0.87;
  margin-bottom: 49px;
}

.features__content {
  position: relative;
  z-index: -2;
}

.features__item--excursions {
  top: -68px;
  left: 0;
  width: 35.286vw;
  height: 53.587vw;
  background-image: url("../img/blog-photo1@1x.jpg");
  background-size: 35.286vw auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog-photo1@2x.jpg");
  }
}

.features__item--skills {
  width: 30.08vw;
  height: 23.35vw;
  top: 0;
  left: 54vw;
  background-image: url("../img/blog-photo3@1x.jpg");
  background-size: 30.08vw auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog-photo3@2x.jpg");
  }
}

.features__item--language {
  top: 0;
  left: 36.41vw;
  background-image: url("../img/blog-photo2@1x.jpg");

  background-size: 15.44vw auto;
  width: 15.44vw;
  height: 23.35vw;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog-photo2@2x.jpg");
  }
}

.features__item--projects {
  width: 30.08vw;
  top: 25.2vw;
  left: 36.41vw;
  background-image: url("../img/blog-photo4@1x.jpg");
  background-size: 30.08vw auto;
  height: 23.4vw;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog-photo4@2x.jpg");
  }
}

.features__item--leadership {
  left: 69vw;
  top: 25.2vw;
  width: 15.44vw;
  height: 23.35vw;
  background-image: url("../img/blog-photo5@1x.jpg");
  background-size: 15.44vw auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog-photo5@2x.jpg");
  }
}

.features__item-title {
  padding-left: 40px;
  position: absolute;
  color: #ffffff;
  bottom: 35px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

  font-size: 20px;
  line-height: 25px;
  font-family: "Raleway", "Arial", sans-serif;
}

.features__item {
  position: absolute;
}

@media (max-width: $mobile-maxWidth) {
  .features__wrapper {
    @include mobile-container;
  }

  .features__text {
    padding: 0;
  }

  .features__item-title {
    padding-left: 0;
    position: initial;
  }

  .features__content {
    display: block;
  }
}
