.features__wrapper {
  @include desktop-container;
  padding-left: 104px;
}

.features {
  padding-top: 156px;
}

.features__title {
  text-align: center;
  margin-bottom: 25px;
}

.features__text {
  padding: 0 210px;
  text-align: center;
  font-size: 17px;
  line-height: 1.7;
  opacity: 0.87;
  margin-bottom: 49px;
}

.features__content {
  position: relative;
  z-index: -2;
  width: 100%;
  height: 741px;
}

.features__item--excursions {
  top: -69px;
  left: 0;
  width: 41.86%;
  height: 100%;
  background-image: url("../img/blog-photo1@1x.jpg");
  background-size: 100% auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog-photo1@2x.jpg");
  }

  & h3 {
    bottom: 20px;
  }
}

.features__item--skills {
  width: 35.67%;
  height: 42.93%;
  top: -2px;
  left: 64.06%;
  background-image: url("../img/blog-photo3@1x.jpg");
  background-size: 100% auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog-photo3@2x.jpg");
  }

  & h3 {
    bottom: 11px;
    padding-left: 32px;
  }
}

.features__item--language {
  top: -2px;
  left: 43.14%;
  background-image: url("../img/blog-photo2@1x.jpg");
  background-size: 100% auto;
  height: 43.1%;
  width: 18.31%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog-photo2@2x.jpg");
  }

  & h3 {
    bottom: 11px;
    padding-left: 25px;
  }
}

.features__item--projects {
  width: 35.67%;
  height: 42.93%;
  top: 46.7%;
  left: 43.14%;
  background-image: url("../img/blog-photo4@1x.jpg");
  background-size: 100% auto;


  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog-photo4@2x.jpg");
  }

  & h3 {
    bottom: 11px;
    padding-left: 32px;
  }
}

.features__item--leadership {
  left: 81.42%;
  top: 46.75%;
  height: 42%;
  width: 18.57%;
  background-image: url("../img/blog-photo5@1x.jpg");
  background-size: 100% auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog-photo5@2x.jpg");
  }

  & h3 {
    bottom: 4px;
    padding-left: 24px;
  }
}

.features__item-title {
  padding-left: 40px;
  position: absolute;
  color: #ffffff;
  bottom: 35px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

  font-size: 21px;
  line-height: 25px;
  font-family: "Raleway", "Arial", sans-serif;
}

.features__container {
  width: 100%;
}

.features__item {
  position: absolute;
}

@media (max-width: $mobile-maxWidth) {
  .features__wrapper {
    @include mobile-container;
  }

  .features__text {
    padding: 0;
  }

  .features__item-title {
    padding-left: 0;
    position: initial;
  }

  .features__content {
    display: block;
  }
}
