
.form__input-wrapper {
  position: relative;
  height: 60px;
  padding: 2px;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.form input {
  position: relative;
  border: none;
  border-radius: 80px;
  text-transform: lowercase;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  color: rgba(72, 72, 72, 0.5);
  font-weight: 600;
  padding-left: 40px;
  height: 56px;

  &:focus {
    outline: none;
    border: none;


    & ~ .form__input-focused {
      background: $yellow-gradient;
    }

    &::placeholder {
      color: transparent;
    }
  }

  &:invalid:not(:focus):not(:placeholder-shown) ~ .form__input-focused {
    background: $error-color;
  }

  &:valid:not(:focus):not(:placeholder-shown) ~ .form__input-focused {
    background: #484848;
  }
}

.form__checkbox-wrapper {
  align-self: center;
}


::placeholder {
  opacity: 0.5;
  color: $main-font-color;
}

.form__label {
  opacity: 0.74;
  line-height: 1.5;
}

.form__checkbox {
  &:checked + label::after {
    display: block;
  }
}

.form__label--checkbox {
  display: flex;
  align-items: flex-start;
  position: relative;

  &::before {
    content: "";

    display: block;
    margin-top: 5px;
    margin-right: 10px;

    width: 21px;
    height: 15px;
    border: 2px solid transparent;
    border-image: $yellow-gradient;
    border-image-slice: 1;
    border-radius: 2px;
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 6px;

    width: 16px;
    height: 18px;

    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
  }
}

.form__input-focused {
  content: "";
  background: #e3e3e3;
  height: 60px;

  position: absolute;
  border-radius: 80px;
  z-index: -2;

  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
