
.intro {
  display: flex;
  // mask-image: url("../img/mask-header@1x.png");
  // mask-repeat: no-repeat;
  // mask-size: 100%;
  // mask-position: 100%;
  height: 905px;
  margin-top: -80px;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;

  background-position: bottom, 50% 15%, 100% -1px;
  background-size: 100%, 90% auto, 100%;
  background-image: url("../img/girl.png"), url("../img/title@1x.png"), url("../img/background-photo@1x.png");
}

.intro__text {
  margin-top: auto;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

  text-align: center;
}

.intro__scroll-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 76px;
  margin-bottom: 140px;
  border: 1px dashed #ffffff;
  border-radius: 50%;
}

.intro__scroll-icon {
  width: 54px;
  height: 54px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-image: url("../img/mouse.png");
  background-repeat: no-repeat;
  background-position: center;
}
