
.intro {
  display: flex;
  margin-top: -80px;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 50% 0%, 50% 30.6%, 100% -1px;
  background-size: 100%, 74% auto, 100%;
  background-image: url("../img/girl@1x.png"), url("../img/title@1x.png"), url("../img/background-photo@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/girl@2x.png"), url("../img/title@2x.png"), url("../img/background-photo@2x.png");
  }
}

.intro__text {
  margin: 0;
  margin-bottom: 31px;
  padding-top: 39.4%;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

  text-align: center;
}

.intro__scroll-tip {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 76px;
  margin-bottom: 160px;
  border: 1px dashed #ffffff;
  border-radius: 50%;

  &::after {
    content: "";

    display: block;
    position: absolute;
    width: 1px;
    top: 100%;
    height: 55px;
    background-color: #ffffff;
  }
}

.intro__scroll-icon {
  width: 54px;
  height: 54px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-image: url("../img/mouse@1x.png");
  background-size: 17px 26px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/mouse@2x.png");
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .intro {
    margin-top: -60px;
    background-position: 50% 5%, 50% 15%, 100% -1px;
  }

  .intro__text {
    margin-bottom: 15px;
    font-size: 18px;
    padding-top: 35.4%;
  }

  .intro__scroll-tip {
    margin-bottom: 70px;
  }
}

@media (max-width: $mobile-maxWidth) {
  .intro {
    margin: 0;
    background-image: url("../img/girl_mobile@1x.png"), url("../img/title@1x.png"), url("../img/background-photo_mobile@1x.png");
    background-position: 50% 49%, 50% 25.5%, 100% -32px;
    background-size: 100%, 107% auto, 100%;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/girl_mobile@2x.png"), url("../img/title@2x.png"), url("../img/background-photo_mobile@2x.png");
    }
  }

  .intro__text {
    padding-top: 85%;
    font-size: 20px;
    line-height: 24px;
  }

  .intro__scroll-tip {
    margin-bottom: 115px;
  }
}

@media (min-width: 1591px) {
  .intro {
    background-size: 1620px, 74% auto, 100% 1034px;
  }
}
