@keyframes appear {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

.modal {
  display: none;
  position: relative;
  font-family: $content-font;
  width: 480px;
  font-size: 15px;
  line-height: 1.7;
  color: $main-font-color;
  background-color: rgba(255, 255, 255, 1);
  z-index: 2;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


.modal--call {
  padding-top: 55px;
  padding-left: 50px;
  padding-right: 70px;
}

.modal--recall {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 120px 60px 110px;

  &::before {
    content: "";
    display: block;
    width: 71px;
    height: 64px;
    margin-bottom: 30px;
    background-image: url("../img/icon-checkmark.svg");
  }
}

.modal--recall p {
  text-align: center;
  margin-bottom: 35px;
}

.modal--open {
  display: flex;
  position: fixed;
  animation: appear 0.3s ease-in;
}


.modal__form {
  display: flex;
  flex-direction: column;

  padding-bottom: 40px;
}

.modal__text {
  opacity: 0.87;
  margin-bottom: 30px;
}

.modal__form-fields input {
  width: 100%;
}

.modal__form-fields {
  margin-bottom: 25px;
}

.modal__form button {
  width: 265px;
  margin-bottom: 15px;
  align-self: center;
}

.modal__close {
  position: absolute;
  right: 32px;

  top: 32px;
  display: block;
  width: 18px;
  height: 17px;
  cursor: pointer;
  background-image: url("../img/icon-close.svg");
}

.modal__title {
  font-size: 28px;
  line-height: 34px;
}

@media (max-width: $mobile-maxWidth) {
  .modal {
    width: 320px;
    height: 100vh;
    padding-left: 15px;
    padding-right: 15px;

    flex-direction: column;
    justify-content: center;
  }

  .modal--open {
    display: flex;
  }

  .modal__title {
    padding-top: 170px;
    text-align: center;
    font-size: 24px;
    line-height: 29px;
  }

  .modal__close {
    top: 24px;
    right: 24px;
  }

  .modal__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.6;
  }

  .modal__form {
    padding-bottom: 170px;
  }
}
