.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e5e5e5;
  width: 100%;
  display: none;
  opacity: 0.95;
  z-index: 500;
}

.overlay--show {
  display: block;
  animation: appear 0.3s ease-in;
}
