.page-header {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;

  color: $main-font-color;
}


.page-header__wrapper {
  @include desktop-container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}


.page-header__logo-wrapper {
  width: 137px;
}

.page-header__order {
  font-variant: small-caps;
  text-transform: uppercase;
}

.page-header__order::after {

  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px dashed $main-font-color;
}
