.programs {
  background-image: url("../img/programs-sketch@1x.png");
  background-size: 50% auto;

  background-repeat: no-repeat;
  background-position: 100% 25%;
  padding-top: 102px;
  padding-bottom: 70px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/programs-sketch@2x.png");
  }
}

.programs__wrapper {
  @include desktop-container;
  padding: 0 210px;
}

.programs__title {
  margin-bottom: 64px;
}

.programs__inner {
  display: flex;
}


.programs__title-item {
  margin: 0;
  margin-bottom: 24px;
  padding-top: 13px;
  text-transform: none;
  font-size: 28px;
  line-height: 34px;
}

.programs__item {
  display: none;
}

.programs__item--active {
  display: block;
}

.programs__text {
  width: 85%;

  font-size: 15px;

  line-height: 1.7;
  opacity: 0.87;
}

.programs__list {
  @include list-reset;
}

.programs__tabs {
  margin-right: 62px;
  width: 230px;
}

.programs__tab {
  padding: 15px 0 15px 24px;
  cursor: pointer;
  font-weight: 400;

  font-size: 15px;
  line-height: 18px;

  color: #484848;
  opacity: 0.87;

  min-height: 68px;
  min-width: 230px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.programs__tab-icon {
  width: 35px;
  height: 35px;
  margin-right: 24px;

  background-image: url("../img/sprite.png");
}

.programs__tab-icon--common {
  background-position: 30px 30px;
}

.programs__tab--active {
  position: relative;
  background: $yellow-gradient;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-variant: small-caps;


  text-transform: lowercase;

  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

  &::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 34px solid #ffffff;
    border-left: 30px solid transparent;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 34px solid #ffffff;
    border-left: 30px solid transparent;
  }

  & svg {
    fill: #ffffff;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxWidth) {
  .programs {
    padding-top: 30px;
  }

  .programs__wrapper {
    @include tablet-container;
  }

  .programs__title {
    margin-bottom: 30px;
  }
}

@media (max-width: $mobile-maxWidth) {
  .programs__wrapper {
    padding: 0;
    margin: 0;
    max-width: unset;
    min-width: 320px;
  }

  .programs__inner {
    flex-direction: column;
  }

  .programs__list {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 8px;
  }

  .programs__description {
    @include mobile-container;
    margin: 0;
  }

  .programs__text {
    width: unset;
    font-size: 14px;
    line-height: 1.6;
  }

  .programs__tabs {
    width: 100%;
    padding-bottom: 18px;
  }

  .programs__tab--active {
    border-radius: 60.6704px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .programs__tab {
    min-height: 48px;
    padding: 8px 10px 8px 10px;
    min-width: unset;
    width: min-content;
  }

  .programs__tab-icon {
    margin-right: 8px;
  }

  .programs__title {
    margin-bottom: 15px;
    text-align: center;
  }

  .programs {
    padding-top: 33px;
    background-size: 82% auto;
    background-position: 115% 32%;
  }

  .programs__tab-icon--common {
    display: none;
  }

  .programs__title-item {
    font-size: 25px;
    padding: 0;
    margin: 0 0 15px;
  }
}
