@mixin desktop-container {

  max-width: $desktop-maxWidth;
  padding: 0 110px;
  margin: 0 auto;
}

@mixin tablet-container {
  min-width: $tablet-width;
  max-width: $tablet-maxWidth;

  padding: 0 45px;
  margin: 0 auto;
}

@mixin mobile-container {
  min-width: $mobile-width;
  max-width: $mobile-maxWidth;
  padding: 0 15px;
  margin: 0 auto;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}
