$main-font-color: #484848;
$titles-color: #1fc0fc;
$yellow-gradient: linear-gradient(95.15deg, #ffc341 20.46%, #ffd701 65.31%);
$error-color: #ff0000;

$content-font: "Fira Sans", "Arial", sans-serif;
$titles-font: "Montserrat", "Arial", sans-serif;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$mobile-maxWidth: 767px;
$tablet-width: 768px;
$tablet-maxWidth: 1023px;
$desktop-width: 1024px;
$desktop-maxWidth: 1920px;
